nav{
  display: flex;
  justify-content: space-around;
  padding: 2% 2% 0%;
  font-family: 'Segoe UI';
  img{
    width: 4%;
    height: 4%;
  }
  h1{
    font-weight: 700;
    font-size: 300%;
  }
}

